pandas
PyYAML
PyMySQL
pymongo
elasticsearch 
apache-airflow-providers-postgres
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-http
apache-airflow-providers-docker
apache-airflow-providers-databricks