pandas==1.2.4
pymssql==2.2.2
PyYAML==5.4.1
PyMySQL==1.0.2
pymongo==3.12.1
elasticsearch==7.15.2 
apache-airflow-providers-postgres
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-mysql
apache-airflow-providers-jdbc
apache-airflow-providers-http
apache-airflow-providers-docker
apache-airflow-providers-databricks